#output {
    display: flex;
    flex-wrap: wrap;
    gap: .5rem;
}

.memberMatches {
    border: 1px solid black;
    border-radius: .5rem;
    padding: .5rem;
}

#errors {
    font-size: 2rem;
    color: red;
}

input.edit {
    width: 50px;
}